:root {
  --fullGrid: 1 / 1 / -1 / -1;
}

.home-container {
  .video-wrapper {
    display: grid;
    grid-template-rows: 100vh;
    overflow: hidden;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);

    .video-player {
      grid-area: var(--fullGrid);
      min-width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    .video-player::-webkit-media-controls {
      display: none !important;
    }

    .video-overlay {
      grid-area: var(--fullGrid);
      display: grid;
      justify-content: center;
      align-content: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.55);
    }
  }
}

