$colour-dark-paragraph-grey: #2b2b2b;

$colour-grey: #9fabb3;
$colour-grey-one: #3a474f;
$colour-grey-two: #2f3a41;
$colour-pale-grey: #e5ebef;
$colour-grey-dark: #485760;
$colour-pale-blue: #d4dde3;
$colour-dark: #262f35;

$color-dark-green: #074047;

$colour-white-smoke: #eee;
$colour-white: #fff;
$colour-snow: #fefefe;

// New pallet
$colour-new-blue: #85DCBA;
$colour-new-orange: #E27D60;
$colour-new-orange-light: #E8A87C;
$colour-new-purple: #C38D9E;
$colour-new-green: #41B3A3;

