.App {
  text-align: center;
}

.not-allowed-element {
  opacity: 0.5;
  user-select: none !important;
  pointer-events: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.min-h-350 {
  min-height: 350px;
}

.cursor-pointer {
  cursor: pointer;
}

.MuiAlert-message {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  color: #506690;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
